* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #7756eb;
/*    background: #948bb3;*/
    transition: background 1.35s ease;
}

#roaming {
    position: relative;
    width: 100%;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: opacity .75s ease;
    animation: animateBottomRoaming 1s;
}

@keyframes animateBottomRoaming {
    from {
        top: 70%;
        opacity: 0;
    } to {
        top: 50%;
        opacity: 1;
    }
}

.animation {
    position: relative;
    width: 50%;
    padding-top: 50%;
/*    background: rgba(0,0,0,0.5);*/
}

.animation__bubble1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6f678b;
    border-radius: 50%;
    animation: bubble1 2s ease;
    animation-iteration-count: infinite;
}

@keyframes bubble1 {
    0% {
        transform: scale(0,0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5,1.5);
        opacity: 0;
    }
}

.animation__bubble2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9280d6;
    border-radius: 50%;
    animation: bubble2 2s ease;
    animation-iteration-count: infinite;
    opacity: 0;
}

@keyframes bubble2 {
    0% {
        transform: scale(0,0);
        opacity: 1;
    }
    40% {
        transform: scale(0,0);
        opacity: 1;
    }
    90% {
        transform: scale(1,1);
        opacity: 0;
    }
}

span.roaming {
/*    color: #ebe6ff;*/
    color: white;
    font-weight: 300;
    font-size: 32px;
}

#exhibit1, #exhibit2, #exhibit3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .75s ease;
    padding: 0 10px;
    overflow: auto;
    animation: animateBottomArtist 1s;
    animation-delay: 0.5s;
}

@keyframes animateBottomArtist {
    from {
        top: 20%;
        opacity: 0;
    } to {
        top: 0;
        opacity: 1;
    }
}

#exhibit1 h1 {
    font-size: 50px;
    font-weight: 600;
    font-style: oblique;
    color: white;
    text-align: center;
}

#exhibit1 span.artist {
    color: white;
    font-size: 26px;
    padding-left: 18px;
}

#exhibit1 div.byline {
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

#exhibit1 div.byline img {
    position: relative;
    float: left;
    margin-left: 18px;
}

#exhibit1 div.byline__text {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

#exhibit1 div.byline div.byline__text div {
    margin: 8px 0;
    font-style: oblique;
    font-weight: 300;
}

#exhibit1 .description {
    clear: both;
    color: white;
    text-indent: 35px;
    font-weight: 300;
    font-size: 26px;
    text-align: justify;
}